:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* End CSS Reset */
.container {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  align-content: center;
  justify-content: center;
  background-size: 40rem;
  min-height: 100vh;
  gap: var(--default-padding);
  padding-bottom: var(--default-padding);
}
@media (max-width: 900px) and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  border-radius: var(--default-radius);
  overflow: hidden;
}
.card:not(:nth-child(2)) {
  padding: var(--default-padding);
}
@media (max-width: 900px) {
  .card:not(:nth-child(2)) {
    margin: 0 var(--default-padding);
  }
}
.card:nth-child(2) {
  grid-row: 1/3;
}
@media (max-width: 900px) and (min-width: 600px) {
  .card:nth-child(2) {
    grid-column: 1/3;
    flex-direction: row;
  }
}
@media (max-width: 900px) {
  .card:nth-child(2) {
    border-radius: 0;
  }
}
.card .top {
  background-color: var(--color-desaturated-blue);
  padding: var(--default-padding);
}
@media (max-width: 900px) {
  .card .top {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }
}

.name {
  font-size: 2.4rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
}

.bottomn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--default-padding);
  margin: auto 0;
}
@media (max-width: 900px) and (min-width: 600px) {
  .bottomn {
    flex: 1;
  }
}
@media (max-width: 600px) {
  .bottomn {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }
}

.row {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: center;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.username {
  font-size: 1.2rem;
  font-weight: 300;
}

.title {
  font-size: 2.4rem;
  font-weight: 300;
}

.type {
  font-size: 1.2rem;
  font-weight: 400;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: var(--default-padding);
  font-size: 1.2rem;
}

.stack-tittle {
  font-weight: 300;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.language {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--color-desaturated-blue);
  border-radius: calc(var(--default-radius) / 3);
}/*# sourceMappingURL=style.css.map */